.users {
  padding: 25px 30px;
}

.users header,
.users-list a {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.wrapper {
  padding-top: 100px;
  width: 500px;
}

.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}

.users header .content,
.users-list a .content {
  display: flex;
}

.users header .content img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.users header .details {
  margin-left: 15px;
}

.users header .details span {
  font-size: 18px;
  font-weight: 500;
}

.users .search {
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.users .search .text {
  font-size: 18px;
}

.users .search input {
  position: absolute;
  height: 42px;
  width: calc(100%-50px);
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.users .search button {
  width: 47px;
  height: 42px;
  border: none;
  outline: none;
  color: #fff;
  background: #333;
  font-size: 17px;
  border-radius: 0 5px 5px 0;
}

.users-list {
}

.users-list a .content img {
  height: 40px;
  width: 40px;
}
